extends layout
block content
  h1= title
  form(id='elephantForm', action="/resource/elephants", method="POST")
    div.form-group
      label.elephantAttr(for='elephant_type') Elephant Type
      input#elephant_type(type='text', name='elephant_type')
    div.form-group
      label.elephantAttr(for='size') Elephant Size
      input#size(type='text', name='size')
    div.form-group
      label.elephantAttr(for='cost') Elephant Cost
      input#cost(type='number', name='cost')
    input(type="submit")
  script.
    document.forms['elephantForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle the response body
      }).catch((error) => {
        // TODO handle the error
        alert("Save failed: " + error);
      });
    });
